<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaxWizard | Calculate Tax</title>
  <link rel="icon" href="/assets/logo.png" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <% const primaryButtonClass="relative py-1.5 font-medium text-2xl rounded-xl ease-in lg:px-10 md:px-6 px-6 text-white bg-blue-400 hover:bg-gradient-to-r hover:from-[#03045e] hover:to-blue-700 hover:duration-100 hover:ease-in hover:scale-105" %>
  <% const inputFieldClass="rounded-lg block w-full p-4 text-lg bg-white text-[#03045e]" %>
  <% labelClass ="flex flex-start items-start uppercase text-[#03045e] text-xs font-bold mb-2" %>


  <%- include('../partials/user-sidebar.ejs') %>


  <div class="px-4 pb-8 pt-24 backdrop-blur-lg bg-white/30 min-h-screen" style="background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4)), url('https://plus.unsplash.com/premium_photo-1661382019197-94d5edb38186?auto=format&fit=crop&q=80&w=1472&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
    <div class="p-4 rounded-lg ">
      <div class="grid grid-cols-1 gap-4 mb-4">
        <form method="POST" id="calculate-data" class="max-w-5xl bg-white mx-auto w-full rounded-xl shadow-xl border border-[#00b4d8]">
          <div class="p-4 border-b">
            <h2 class="text-2xl text-[#03045e] font-bold text-center">Tax Calculator</h2>
          </div>
          <div class="hover:bg-[#caf0f8] bg-[#caf0f8]/60 md:space-y-0 space-y-1 p-3 border-b text-center">
            <span id="taxable" class="text-[#03045e] text-5xl md:text-7xl my-10"></span>
            <div class="w-full mx-auto flex justify-center">
            </div>
            <div class="px-6">
              <div class="pb-2 pt-4">
                <label class="<%= labelClass %>" for="amount">
                  Yearly Amount (in BDT)
                </label>
                <input type="number" name="yearly_amount" id="yearly_amount" placeholder="Yearly Amount" class="<%= inputFieldClass %>" required>
              </div>
              <div class="pb-2 pt-4">
                <label class="<%= labelClass %>" for="year">
                  Year
                </label>
                <select id="year" name="year" class="<%= inputFieldClass %> origin-bottom bottom-0" required>
                  <% for (let year = new Date().getFullYear(); year >= 2010; year--) { %>
                  <option value="<%= year %>"><%= year %></option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>
          <div class="hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b text-center">
            <button type="submit" class="<%= primaryButtonClass %>">
              Calculate Tax
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const calculateData = document.getElementById('calculate-data');

      calculateData.addEventListener('submit', async (event) => {
        event.preventDefault();

        const formData = new FormData(calculateData);

        try {
          const response = await fetch('/calculateTax', {
            method: 'POST',
            body: JSON.stringify(Object.fromEntries(formData)),
            headers: {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + localStorage.getItem('token'),
            },
          });

          const data = await response.json();
          console.log(data);
          document.getElementById('taxable').innerText = "BDT " + data.taxable;

        } catch (error) {
          console.error(error);
        }
      });
    });
  </script>
</body>

</html>