<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaxWizard | Login</title>
  <link rel="icon" href="/assets/logo.png" type="image/png">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <% const inputFieldClass="rounded-lg block w-full p-4 text-lg bg-white text-[#03045e]" %>
  <% const
      primaryButtonClass="relative py-2 font-medium text-2xl rounded-xl ease-in lg:px-10 md:px-6 px-6 text-white bg-blue-400 hover:bg-gradient-to-r hover:from-[#03045e] hover:to-blue-700 hover:duration-100 hover:ease-in hover:scale-105"
      %>
  <% labelClass ="flex flex-start items-start uppercase text-[#03045e] text-xs font-bold mb-2" %>

  <section class="min-h-screen flex items-stretch text-[#caf0f8]">

    <div class="overflow-y-auto lg:w-1/2 w-full flex items-center justify-center text-center px-0 z-0 bg-[#caf0f8]">
      <div class="absolute lg:hidden z-10 inset-0 bg-gray-500 bg-no-repeat bg-cover items-center" style="background-image: url(https://images.unsplash.com/photo-1577495508048-b635879837f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80);">
        <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
      </div>
      <div class="w-full py-6 z-20">
        <form action="" method="post" class="w-full px-6 lg:px-12 mx-auto">
          <div class="pb-2 pt-4">
            <label class="<%= labelClass %>" for="nid">
              NID
            </label>
            <input type="number" name="nid" id="nid" placeholder="NID" minlength="14" maxlength="14" class="<%= inputFieldClass %>" required>
          </div>
          <div class="pb-2 pt-4">
            <label class="<%= labelClass %>" for="password">
              Password
            </label>
            <input class="<%= inputFieldClass %>" type="password" name="password" id="password" placeholder="Password" required>
          </div>
          <div class="text-left text-[#0077b7] cursor-pointer my-1">
            New to Here? <a href="/register" class="hover:text-[#03045e] hover:underline">Create An Account</a>
          </div>
          <% if (typeof err_message !== 'undefined' && err_message) { %>
            <div class="my-2">
              <%- include('../partials/form-message.ejs', { message: err_message, color: 'green' }) %>
            </div>
            <% } %>
          <div class="px-4 pb-2 pt-4">
            <div class="z-10">
              <button type="submit" class="<%= primaryButtonClass %>">
                Login
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="lg:flex w-1/2 hidden bg-gray-500 bg-no-repeat bg-cover relative items-center overflow-hidden " style="background-image: url(https://images.unsplash.com/photo-1594980596870-8aa52a78d8cd?auto=format&fit=crop&q=80&w=1450&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
      <div class="absolute bg-black opacity-80 inset-0 z-0"></div>
      <div class="w-full px-24 z-10">
        <h1 class="text-5xl font-bold text-left tracking-wide">One of Us?</h1>
        <p class="text-2xl my-4">Login to Access Your Taxes, Made Simple For You By Us.</p>


      </div>
    </div>

  </section>
</body>

</html>